RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

 RewriteRule ^category/([\w-]+) categoryDetails.php?slug=$1
 RewriteRule ^subCategory/([\w-]+) childCategory.php?slug=$1
 RewriteRule ^product/([\w-]+) product-details.php?slug=$1