.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-stretch-start {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.flex-stretch-center {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.flex-stretch-end {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-start-around {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.flex-start-end {
  display: flex;
  align-items: start;
  justify-content: flex-end;
}
.flex-end-start {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flex-end-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.flex-end-around {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
