// Headings
$h1: 2.5rem; // 40px
$h2: 2.25rem; // 36px
$h3: 2rem; // 32px
$h4: 1.75rem; // 28px
$h5: 1.5rem; // 24px
$h6: 1.25rem; // 20px

// Font Sizes
$xSmall: 0.625rem; // 10px
$small: 0.75rem; // 12px
$medium: 0.875rem; // 14px
$large: 1rem; // 16px ÷ 16 = 1rem
$xLarge: 1.125rem; // 18px ÷ 16 = 1.125rem
