// Main Theme
$primary: #0f6db4;
$secondary: #fdc600;
$tertiary: #f99c1d;
$dark: #011932;
$gray: #5c6972;
$white: #ffffff;
$light: #f5faff;
$border: #e4e4e4;
$glossy: linear-gradient(139.46deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);

// Action Colors
$info: #55b8e7;
$success: #008c4f;
$warning: #f6c500;
$danger: #d62828;
