// Main Theme
$primary: #0071BF;
$secondary: #00b0ff;
$tertiary: #ff6347;
$dark: #000B20;
$gray: #555555;
$white: #ffffff;
$light: #eef4f7;
$border: #e4e4e4;

// Action Colors
$info: #55b8e7;
$success: #28a745;
$warning: #f6c500;
$danger: #d62828;