// Main Theme
$primary: #0f6db4;
$secondary: #fdc600;
$tertiary: #f99c1d;
$dark: #011932;
$gray: #5c6972;
$white: #ffffff;
// $light: #f5faff;
$light: #e7f0f8;
$border: #e4e4e4;
$glossy: linear-gradient(142deg, rgba($color: $dark, $alpha: 0.02) 0%, rgba($color: $dark, $alpha: 0.5) 100%);

// Action Colors
$info: #55b8e7;
$success: #008c4f;
$warning: #f6c500;
$danger: #d62828;
